// Section coworking (32:2613). PREMIÈRE PASSE.

@use '../base/breakpoints' as bp;

.coworking {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-40);
  margin-bottom: var(--space-272);
}

.coworking__cta {
  align-self: center;
  @media (min-width: bp.$bp-desktop) {
    width: calc(var(--grid-col-desktop-4) - 5px);
    align-self: flex-start;
  }
}
