// Section coworking (32:2613). PREMIÈRE PASSE.

$coworking-switch: 56rem;

.coworking {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-40);
}

.coworking__cta {
  align-self: center;
  @media (min-width: $coworking-switch) {
    width: calc(var(--grid-col-desktop-4) - 5px);
    align-self: flex-start;
  }
}
